#title {
    text-align: center;
    font-size: 50px;
    color: red;
    font-weight: bold;
    margin: 15px 15px;
    font-family: 'Abril Fatface', cursive;
}

#subtitle {
    text-align: center;
    margin: 15px 15px;
    font-style: italic;
}

#about-us {
    text-align: justify;
    margin: 10px 15px;
}

#title-two {
    margin: 15px 15px;
    text-align: center;
    font-weight: bold;
}

.quote {
    text-align: center;
    margin: 5px 5px;
    background-color: lightgray;
    height: 40px;
    padding-top: 5px;
}

.home-page-link {
    float: left;
    margin: 0px 0px 0px 10px;
}

.modal-background {
    background-color: white;
    padding: 45px;
    margin: 45px;
    border-radius: 10px;
}

.modal-card-title {
    padding: 15px;
    font-weight: bold;
}

.agree-checkbox {
    font-size: 13px;
}

.signinbtn {
    width: 49%;
    margin: 1px;
    margin-top: 5px;
    float: left;
}

#login-username {
    margin-bottom: 5px;
}

.modal-card-subtitle {
    text-align: left;
    font-size: 13px;
    margin: 0px 0px 5px 15px;
}

.title {
    font-size: 30px;
    margin-left: 15px;
    color: red;
    text-align: center;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
}

.hide {
    display: none;
}
